# Ambiente virtual
venv/

# Arquivos de cache do Python
__pycache__/
*.pyc

# Pasta de instância do Flask
instance/

# Arquivos de ambiente
.env

# Configurações do editor de código
.vscode/
.idea/

# Comandos do flask que serao sempre rodados
.flaskenv
app/stop_federal_monitor.txt
docs/todo.txt
